# Ignore data directories
data/
data/raw/
data/processed/

# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/

# Jupyter Notebook
*.ipynb_checkpoints/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
temp/

# Dependency directories
node_modules/